# SPDX-License-Identifier: Apache-2.0
CONFIG_BOARD_TEKDAQC_E=y

# SOC
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F407XG=y

# 168MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000
CONFIG_CLOCK_STM32_HSE_CLOCK=8000000
CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y
CONFIG_CLOCK_STM32_PLL_SRC_HSE=y
CONFIG_CLOCK_STM32_PLL_M_DIVISOR=8
CONFIG_CLOCK_STM32_PLL_N_MULTIPLIER=336
CONFIG_CLOCK_STM32_PLL_P_DIVISOR=2
CONFIG_CLOCK_STM32_PLL_Q_DIVISOR=7
CONFIG_CLOCK_STM32_AHB_PRESCALER=1
CONFIG_CLOCK_STM32_APB1_PRESCALER=4
CONFIG_CLOCK_STM32_APB2_PRESCALER=2

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# serial port
CONFIG_SERIAL=y
CONFIG_UART_STM32=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_PINMUX=y

# SPI
CONFIG_SPI=y
CONFIG_SPI_ASYNC=y
CONFIG_SPI_STM32_INTERRUPT=y
#CONFIG_SPI_STM32_DMA=y

# I2C
CONFIG_I2C=y
CONFIG_I2C_STM32=y

# PWM
CONFIG_PWM=y
CONFIG_PWM_CAPTURE=y
CONFIG_PWM_STM32=y

# ADC
CONFIG_ADC=y
CONFIG_ADC_STM32=y
CONFIG_ADC_ASYNC=y

# DAC
CONFIG_DAC=y
CONFIG_DAC_STM32=y

# Flash
CONFIG_FLASH=y

# Entropy
CONFIG_ENTROPY_GENERATOR=y
CONFIG_ENTROPY_DEVICE_RANDOM_GENERATOR=y
CONFIG_HARDWARE_DEVICE_CS_GENERATOR=y

# RTC
CONFIG_COUNTER=y
CONFIG_COUNTER_LOG_LEVEL_DBG=y
CONFIG_COUNTER_RTC_STM32=y
CONFIG_COUNTER_RTC_STM32_CLOCK_LSI=y
CONFIG_COUNTER_RTC_STM32_BACKUP_DOMAIN_RESET=y

#TekDAQC
CONFIG_ADC_ADS125X=y
CONFIG_ADC_ADS125X_INIT_PRIORITY=80
CONFIG_ADC_ADS125X_ACQUISITION_THREAD_STACK_SIZE=512
CONFIG_ADC_ADC_ADS125X_ACQUISITION_THREAD_PRIO=0