/dts-v1/;
#include <st/f4/stm32f407Xg.dtsi>
#include <st/f4/stm32f407i(e-g)tx-pinctrl.dtsi>

/ {
  model = "Tekdaqc Rev E";
  compatible = "tk,tekdaqc_e";

  chosen {
    zephyr,console = &usart3;
    zephyr,shell-uart = &usart3;
    zephyr,sram = &sram0;
    zephyr,flash = &flash0;
  };

  soc {
    sdmmc: sdmmc@40012C00 {
      compatible = "st,stm32-sdmmc";
      reg = <0x40012C00 0x3000>;
      label = "SDMMC0";
      clocks = <&rcc STM32_CLOCK_BUS_APB2 0x00000800>;
      pinctrl-0 = <&sdmmc_d0_pc8
                     &sdmmc_d1_pc9
                     &sdmmc_d2_pc10
                     &sdmmc_d3_pc11
                     &sdmmc_ck_pc12
                     &sdmmc_cmd_pd2>;
      status = "okay";
    };
  };

  leds {
    compatible = "gpio-leds";
    test_pin_1: led_1 {
      gpios = <&gpiog 6 GPIO_ACTIVE_HIGH>;
      label = "Test Pin 1";
    };
    test_pin_2: led_2 {
      gpios = <&gpiog 8 GPIO_ACTIVE_HIGH>;
      label = "Test Pin 2";
    };
    test_pin_3: led_3 {
      gpios = <&gpioi 8 GPIO_ACTIVE_HIGH>;
      label = "Test Pin 3";
    };
    test_pin_4: led_4 {
      gpios = <&gpioi 10 GPIO_ACTIVE_HIGH>;
      label = "Test Pin 4";
    };
  };

  gpio_keys {
    compatible = "gpio-keys";
    gpi_0: input_0 {
      label = "GPI_0";
      gpios = <&gpioe 5 GPIO_ACTIVE_HIGH>;
    };
    gpi_1: input_1 {
      label = "GPI_1";
      gpios = <&gpioe 4 GPIO_ACTIVE_HIGH>;
    };
    gpi_2: input_2 {
      label = "GPI_2";
      gpios = <&gpioi 8 GPIO_ACTIVE_HIGH>;
    };
    gpi_3: input_3 {
      label = "GPI_3";
      gpios = <&gpioi 11 GPIO_ACTIVE_HIGH>;
    };
    gpi_4: input_4 {
      label = "GPI_4";
      gpios = <&gpioh 3 GPIO_ACTIVE_HIGH>;
    };
    gpi_5: input_5 {
      label = "GPI_5";
      gpios = <&gpioh 4 GPIO_ACTIVE_HIGH>;
    };
    gpi_6: input_6 {
      label = "GPI_6";
      gpios = <&gpiof 11 GPIO_ACTIVE_HIGH>;
    };
    gpi_7: input_7 {
      label = "GPI_7";
      gpios = <&gpiof 15 GPIO_ACTIVE_HIGH>;
    };

    gpi_8: input_8 {
      label = "GPI_8";
      gpios = <&gpioe 8 GPIO_ACTIVE_HIGH>;
    };
    gpi_9: input_9 {
      label = "GPI_9";
      gpios = <&gpioe 12 GPIO_ACTIVE_HIGH>;
    };
    gpi_10: input_10 {
      label = "GPI_10";
      gpios = <&gpioh 6 GPIO_ACTIVE_HIGH>;
    };
    gpi_11: input_11 {
      label = "GPI_11";
      gpios = <&gpioh 11 GPIO_ACTIVE_HIGH>;
    };
    gpi_12: input_12 {
      label = "GPI_12";
      gpios = <&gpioe 3 GPIO_ACTIVE_HIGH>;
    };
    gpi_13: input_13 {
      label = "GPI_13";
      gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;
    };
    gpi_14: input_14 {
      label = "GPI_14";
      gpios = <&gpioe 6 GPIO_ACTIVE_HIGH>;
    };
    gpi_15: input_15 {
      label = "GPI_15";
      gpios = <&gpioh 5 GPIO_ACTIVE_HIGH>;
    };

    gpi_16: input_16 {
      label = "GPI_16";
      gpios = <&gpiof 9 GPIO_ACTIVE_HIGH>;
    };
    gpi_17: input_17 {
      label = "GPI_17";
      gpios = <&gpioh 2 GPIO_ACTIVE_HIGH>;
    };
    gpi_18: input_18 {
      label = "GPI_18";
      gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
    };
    gpi_19: input_19 {
      label = "GPI_19";
      gpios = <&gpiof 13 GPIO_ACTIVE_HIGH>;
    };
    gpi_20: input_20 {
      label = "GPI_20";
      gpios = <&gpiog 1 GPIO_ACTIVE_HIGH>;
    };
    gpi_21: input_21 {
      label = "GPI_21";
      gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
    };
    gpi_22: input_22 {
      label = "GPI_22";
      gpios = <&gpioh 8 GPIO_ACTIVE_HIGH>;
    };
    gpi_23: input_23 {
      label = "GPI_23";
      gpios = <&gpioh 10 GPIO_ACTIVE_HIGH>;
    };
  };
};

&usart2 {
  pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6>;
  current-speed = <115200>;
  status = "okay";
};

&usart3 {
  pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
  current-speed = <115200>;
  status = "okay";
};

&rtc { status = "okay"; };

&rng { status = "okay"; };

&spi1 {
  pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
  status = "okay";
};

&spi2 {
  pinctrl-0 = <&spi2_sck_pb10 &spi2_miso_pb14 &spi2_mosi_pi3>;
  status = "okay";
};

&mac {
  pinctrl-0 = <&eth_ref_clk_pa1
                 &eth_mdio_pa2
                 &eth_crs_dv_pa7
                 &eth_mdc_pc1
                 &eth_txd1_pb13
                 &eth_rxd1_pc5
                 &eth_tx_en_pb11
                 &eth_txd0_pg13
                 &eth_rxd0_pc4>;
  status = "okay";
};

&pinctrl {
  sdmmc_d0_pc8: sdmmc_d0_pc8 {
    pinmux = <STM32_PINMUX('C', 8, AF12)>;
    slew-rate = "very-high-speed";
  };
  sdmmc_d1_pc9: sdmmc_d1_pc9 {
    pinmux = <STM32_PINMUX('C', 9, AF12)>;
    slew-rate = "very-high-speed";
  };
  sdmmc_d2_pc10: sdmmc_d2_pc10 {
    pinmux = <STM32_PINMUX('C', 10, AF12)>;
    slew-rate = "very-high-speed";
  };
  sdmmc_d3_pc11: sdmmc_d3_pc11 {
    pinmux = <STM32_PINMUX('C', 11, AF12)>;
    slew-rate = "very-high-speed";
  };
  sdmmc_ck_pc12: sdmmc_ck_pc12 {
    pinmux = <STM32_PINMUX('C', 12, AF12)>;
    slew-rate = "very-high-speed";
  };
  sdmmc_cmd_pd2: sdmmc_cmd_pd2 {
    pinmux = <STM32_PINMUX('D', 2, AF12)>;
    slew-rate = "very-high-speed";
  };
};

&adc1 {
  pinctrl-0 = <&adc1_in0_pa0 &adc1_in3_pa3 &adc1_in6_pa6>;
  status = "okay";
};