# SPDX-License-Identifier: Apache-2.0
CONFIG_BOARD_TEKDAQC_E=y

#
# Board Options
#
# end of Board Options


CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F407XG=y
# 168MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# serial port
CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_PINMUX=y
CONFIG_GPIO_LOG_LEVEL_INF=y

# clock configuration
CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_LOG_LEVEL_INF=y

# Clock configuration for Cube Clock control driver
CONFIG_CLOCK_STM32_HSE_CLOCK=8000000
CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y
# use HSE as PLL input
CONFIG_CLOCK_STM32_PLL_SRC_HSE=y
# produce 168MHz clock at PLL output
CONFIG_CLOCK_STM32_PLL_M_DIVISOR=8
CONFIG_CLOCK_STM32_PLL_N_MULTIPLIER=336
CONFIG_CLOCK_STM32_PLL_P_DIVISOR=2
CONFIG_CLOCK_STM32_PLL_Q_DIVISOR=7
CONFIG_CLOCK_STM32_AHB_PRESCALER=1
CONFIG_CLOCK_STM32_APB1_PRESCALER=4
CONFIG_CLOCK_STM32_APB2_PRESCALER=2

# SPI
CONFIG_SPI=y
CONFIG_SPI_ASYNC=y
CONFIG_SPI_STM32_INTERRUPT=y
CONFIG_SPI_STM32_DMA=y
CONFIG_SPI_LOG_LEVEL_DBG=y

# ADC
CONFIG_ADC=y
CONFIG_ADC_ASYNC=y
CONFIG_ADC_LOG_LEVEL_DBG=y

# Flash
CONFIG_FLASH=y
CONFIG_FLASH_LOG_LEVEL_INF=y

CONFIG_UART_STM32=y

# Entropy
CONFIG_ENTROPY_GENERATOR=y
CONFIG_ENTROPY_DEVICE_RANDOM_GENERATOR=y
CONFIG_HARDWARE_DEVICE_CS_GENERATOR=y

# Networking
# CONFIG_WIFI is not set
CONFIG_NET_L2_ETHERNET=y
CONFIG_NET_L2_ETHERNET_MGMT=y
CONFIG_NET_L2_ETHERNET_LOG_LEVEL_DEFAULT=y
CONFIG_NET_BUF=y
CONFIG_NET_BUF_USER_DATA_SIZE=4
CONFIG_NET_BUF_LOG=y
CONFIG_NET_BUF_LOG_LEVEL_INF=y
CONFIG_NET_BUF_WARN_ALLOC_INTERVAL=1
CONFIG_NETWORKING=y
CONFIG_NET_HOSTNAME_ENABLE=y
CONFIG_NET_HOSTNAME="tekdaqc"
CONFIG_NET_HOSTNAME_UNIQUE=y
CONFIG_NET_HOSTNAME_LOG_LEVEL_DEFAULT=y
CONFIG_NET_ARP=y
CONFIG_NET_ARP_TABLE_SIZE=2
CONFIG_NET_ARP_GRATUITOUS=y
CONFIG_NET_ARP_LOG_LEVEL_DEFAULT=y
CONFIG_NET_NATIVE=y

# IP
CONFIG_NET_IPV4=y
CONFIG_NET_IPV4_LOG_LEVEL_DEFAULT=y
CONFIG_NET_ICMPV4_LOG_LEVEL_DEFAULT=y
CONFIG_NET_INITIAL_TTL=64
CONFIG_NET_IF_MAX_IPV4_COUNT=1
CONFIG_NET_IF_UNICAST_IPV4_ADDR_COUNT=1
CONFIG_NET_IF_MCAST_IPV4_ADDR_COUNT=1
CONFIG_NET_DHCPV4=y
CONFIG_NET_DHCPV4_INITIAL_DELAY_MAX=10
CONFIG_NET_DHCPV4_LOG_LEVEL_DEFAULT=y
CONFIG_NET_TC_TX_COUNT=1
CONFIG_NET_TC_RX_COUNT=1
CONFIG_NET_TC_THREAD_COOPERATIVE=y
CONFIG_NET_TC_MAPPING_STRICT=y
CONFIG_NET_TX_DEFAULT_PRIORITY=1
CONFIG_NET_RX_DEFAULT_PRIORITY=0
CONFIG_NET_IP_ADDR_CHECK=y
CONFIG_NET_MAX_ROUTERS=1

# TCP
CONFIG_NET_TCP=y
CONFIG_NET_TCP_CHECKSUM=y
CONFIG_NET_TCP_LOG_LEVEL_DEFAULT=y
CONFIG_NET_TCP_BACKLOG_SIZE=1
CONFIG_NET_TCP_TIME_WAIT_DELAY=250
CONFIG_NET_TCP_ACK_TIMEOUT=1000
CONFIG_NET_TCP_INIT_RETRANSMISSION_TIMEOUT=200
CONFIG_NET_TCP_RETRY_COUNT=9
CONFIG_NET_TCP_MAX_SEND_WINDOW_SIZE=0
CONFIG_NET_TCP_RECV_QUEUE_TIMEOUT=100
CONFIG_NET_TCP2=y

# UDP
CONFIG_NET_UDP=y
CONFIG_NET_UDP_CHECKSUM=y
CONFIG_NET_UDP_LOG_LEVEL_DEFAULT=y
CONFIG_NET_MAX_CONN=4
CONFIG_NET_MAX_CONTEXTS=6
CONFIG_NET_CONTEXT_SYNC_RECV=y
CONFIG_NET_CONTEXT_CHECK=y
CONFIG_NET_PKT_RX_COUNT=14
CONFIG_NET_PKT_TX_COUNT=14
CONFIG_NET_BUF_RX_COUNT=36
CONFIG_NET_BUF_TX_COUNT=36
CONFIG_NET_BUF_FIXED_DATA_SIZE=y
CONFIG_NET_BUF_DATA_SIZE=128
CONFIG_NET_DEFAULT_IF_FIRST=y

# Network Management
CONFIG_NET_MGMT=y
CONFIG_NET_MGMT_EVENT=y
CONFIG_NET_MGMT_EVENT_STACK_SIZE=768
CONFIG_NET_MGMT_EVENT_THREAD_PRIO=-1
CONFIG_NET_MGMT_EVENT_QUEUE_SIZE=2
CONFIG_NET_MGMT_EVENT_INFO=y
CONFIG_NET_MGMT_EVENT_LOG_LEVEL_DEFAULT=y

# Network Logging
CONFIG_NET_LOG=y
CONFIG_NET_PKT_LOG_LEVEL_DEFAULT=y
CONFIG_NET_CORE_LOG_LEVEL_DEFAULT=y
CONFIG_NET_IF_LOG_LEVEL_DEFAULT=y
CONFIG_NET_TC_LOG_LEVEL_DEFAULT=y
CONFIG_NET_UTILS_LOG_LEVEL_DEFAULT=y
CONFIG_NET_CONTEXT_LOG_LEVEL_DEFAULT=y
CONFIG_NET_CONN_LOG_LEVEL_DEFAULT=y

# mDNS
CONFIG_MDNS_RESPONDER=y
CONFIG_DNS_SD=y
CONFIG_MDNS_RESPONDER_DNS_SD=y
CONFIG_MDNS_RESPONDER_TTL=600
CONFIG_MDNS_RESPONDER_INIT_PRIO=96
CONFIG_MDNS_RESPONDER_LOG_LEVEL_DEFAULT=y
CONFIG_MDNS_RESOLVER_ADDITIONAL_BUF_CTR=0

# Network Libraries
CONFIG_NET_CONFIG_AUTO_INIT=y
CONFIG_NET_CONFIG_INIT_PRIO=95
CONFIG_NET_CONFIG_INIT_TIMEOUT=30
CONFIG_NET_CONFIG_NEED_IPV4=y
CONFIG_NET_CONFIG_LOG_LEVEL_DEFAULT=y

CONFIG_NET_CONNECTION_MANAGER=y
CONFIG_NET_CONNECTION_MANAGER_LOG_LEVEL_DEFAULT=y

CONFIG_NET_SOCKETS=y
CONFIG_NET_SOCKETS_POSIX_NAMES=y

# Ethernet Drivers
CONFIG_ETHERNET_LOG_LEVEL_DEFAULT=y
CONFIG_ETH_STM32_HAL=y

#
# Boot Options
#
# CONFIG_IS_BOOTLOADER is not set
# CONFIG_BOOTLOADER_MCUBOOT is not set
CONFIG_REBOOT=y
# CONFIG_MISRA_SANE is not set
# end of Boot Options